{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block content %}

{% include 'common/searchForm.html' %}

<div class="list">
  {% for datum in data %}
  <div class="list-item p-3 m-3 bg-white rounded shadow">
    <div> <!-- title -->
      <a class="text-decoration-none fs-5" href="{{ datum.url }}">{{ datum.title }}</a>
    </div>
    <div> <!-- tags -->
    {% for tag in datum.tags %}
      <a class="text-decoration-none small text-dark me-2 px-1 py-1 rounded-pill" href="#" style="background-color: #dfdfdf;">{{ tag.name }}</a>
    {% endfor %}
    </div>
    <div class="pt-2"> <!-- body -->
      <p class="my-1 mb-0 text-secondary text-small">{{ datum.body|truncatechars:100 }}</p>
    </div>
    <div class="text-muted d-flex flex-wrap small pt-2">
      <div class="fw-bold me-3"> <!-- LGMT -->
        LGMT {{ datum.likes_count }}
      </div>
      <div class="me-3"> <!-- user name -->
        {{ datum.user.name }}(@{{ datum.user.id }})
      </div>
      <div class="me-3"> <!-- created time -->
        投稿日:{{ datum.created_at }}                             <!-- なんでフォーマットできんのじゃー -->
      </div>                                                    <!-- template filter のdateが使えない -->
      <div class="me-3"> <!-- updated time -->                  <!-- 指定するとなぜか空文字になっちゃう -->
        更新日:{{ datum.updated_at }}                             <!-- わからなすぎるから後回しで。さよならエレジー -->
      </div>
    </div>
  </div>
  {% empty %}
  <div>
    <p>「{{ keyword }}」に一致する投稿は見つかりませんでした。</p>
  </div>
  {% endfor %}
</div>

<!-- {% include 'common/pagenateUI.html' %} -->

{% endblock %}